@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    background: linear-gradient(to right, #434343, #000000); 
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.movie-container h1 {
    margin: 0;
}

.container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat { 
    background-color: #8c8c8c;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 15px;
    background: #434343;
    border: 1px solid #000000;
    transition: all .5s ease;
}

.seat-hide {
    visibility: hidden;
}

.seat.selected {
    background-color: #f4511e;
}

.seat.occupied {
    cursor: not-allowed;
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #f4511e;
}

.subtitle {
    position: relative;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    color: #f4511e;
    font-size: 16px;
    max-width: 270px;
    margin: 20px auto;
}

.subtitle:before, .subtitle:after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background: #f4511e;
}

.subtitle:before {
    width: 80%;
    top: 0;
}

.subtitle:after {
    width: 100%;
    bottom: 0;
}

.wrap {
    display: flex;
} 

.text {
    font-size: 18px;
}

.text-wrapper {
    margin: 25px 0;
}

#count, #total {
    font-size: 24px;
    padding: 0 8px;
}

.butt {
    margin: 30px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f4511e;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    height: 60px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
.butt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.butt span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.butt:hover span {
    padding-right: 25px;
  }
  
.butt:hover span:after {
    opacity: 1;
    right: 0;
  }

@media (max-width: 576px) {

    body {
        padding-top: 30px;
    }

    .seat {
        height: 21px;
        width: 23px;
    }

    .subtitle {
        font-size: 13px;
        padding: 7px;
    }

    .seat:nth-of-type(2) {
        margin-right: 12px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 12px;
    }

    .text {
        font-size: 14px;
    }

    #count, #total {
        font-size: 18px
    }
}